<div>
	<section class="flex flex-row flex-nowrap justify-between text-[#6B6866]">
		<div class="flex flex-row flex-nowrap items-center">
			<%= heroicon "truck", size: 32, class: "text-black" %>
			<div class="ms-4">
				<h3 class="text-2xl m-0">Free Shipping</h3>
				<p class="text-base m-0 font-light text-black">Nationwide</p>
			</div>
		</div>
		<div class="flex flex-row flex-nowrap items-center">
			<%= heroicon "currency-dollar", size: 32, class: "text-black" %>
			<div class="ms-4">
				<h3 class="text-2xl m-0">7 Day Returns</h3>
				<p class="text-base m-0 font-light text-black">
					Moneyback Guarantee
				</p>
			</div>
		</div>
		<div class="flex flex-row flex-nowrap items-center">
			<%= heroicon "gift", size: 32, class: "text-black" %>
			<div class="ms-4">
				<h3 class="text-2xl m-0">Discount/Vouchers</h3>
				<p class="text-base m-0 font-light text-black">
					Selected Items Only
				</p>
			</div>
		</div>
		<div class="flex flex-row flex-nowrap items-center">
			<%= heroicon "credit-card", size: 32, class: "text-black" %>
			<div class="ms-4">
				<h3 class="text-2xl m-0">Secure Payment</h3>
				<p class="text-base m-0 font-light text-black">
					Powered by Stripe
				</p>
			</div>
		</div>
	</section>
	<div class="h-px bg-[#6B686659] w-full mt-4 mb-14"></div>
</div>
