<section class="pt-32 h-screen relative">
  <%= image_tag "introduction.png",
				class: "absolute bottom-0 right-0 z-[-1]" %>
  <div class="container mx-auto h-full">
	<div class="text-[#4A4A4A] max-w-[700px] mt-[20%]">
	  <h2 class="font-semibold font-poppins text-4xl text-seraphique">
		Seraphique
	  </h2>
	  <h3 class="text-3xl mt-12 mb-6">Indulge in Pure Luxury</h3>
	  <p class="text-xl">
		Discover a luxurious collection crafted to bring
		out your natural radiance, transforming everyday
		routines into moments of indulgence and self-care.
	  </p>
	  <button class="bg-seraphique text-white text-2xl
					 rounded-lg px-6 py-2 mt-10">
		Shop Now
	  </button>
	</div>
  </div>
</section>
