<section class="bg-white py-24" data-home-target="whyUs">
  <div class="container mx-auto">
	<h2 class="text-[#4A4A4A] font-bold text-2xl text-center">
	  Why Choose Us?
	</h2>
	<div class="flex flex-row justify-center gap-x-24 mt-14">
	  <div class="w-72">
		<div class="size-52 bg-[#D9D9D9] rounded-full mx-auto"></div>
		<h3 class="font-bold text-[#4A4A4A] text-center mt-8 mb-6">
		  Natural Ingredients
		</h3>
		<p class="text-[#4A4A4A] text-center">
		  Our products are formulated with the finest, sustainably sourced
		  ingredients from nature, free from harmful chemicals and additives,
		  ensuring both purity and effectiveness for your skin.
		</p>
	  </div>
	  <div class="w-72">
		<div class="size-52 bg-[#D9D9D9] rounded-full mx-auto"></div>
		<h3 class="font-bold text-[#4A4A4A] text-center mt-8 mb-6">
		  Luxury Meets Nature
		</h3>
		<p class="text-[#4A4A4A] text-center">
		  We are committed to protecting the environment with biodegradable
		  and recyclable packaging, reducing our carbon footprint and
		  helping you make sustainable choices.
		</p>
	  </div>
	  <div class="w-72">
		<div class="size-52 bg-[#D9D9D9] rounded-full mx-auto"></div>
		<h3 class="font-bold text-[#4A4A4A] text-center mt-8 mb-6">
		  Eco-Friendly Packaging
		</h3>
		<p class="text-[#4A4A4A] text-center">
		  Experience the perfect balance of luxury and nature with
		  high-performance products that nourish your skin, giving you
		  visible results without compromising the planet.
		</p>
	  </div>
	</div>
  </div>
</section>
