<main>
  <%= render "introduction" %>
  <%= render "why_us" %>
  <%= render "products",
			 locals: {
				 selected_category: @selected_category,
				 best_sellers: @best_sellers,
				 new_products: @new_products
			 } %>
</main>
