<main class="pt-32 pb-8">
  <div class="container mx-auto">
	<ul>
	  <% current_user.orders.each do |order| %>
		<li class="underline">
		  <%= link_to order do %>
			Order <%= order.id %>
		  <% end %>
		</li>
	  <% end %>
	</ul>
  </div>
</main>
