<main class="py-36 h-[80vmin]">
  <% content_for :title, "Payment Success" %>
  <% content_for :head do %>
	<meta http-equiv="refresh" content="5; url=<%= order_path(@order) %>">
  <% end %>

  <div class="container mx-auto h-full flex flex-col justify-center">
	<p class="text-4xl text-seraphique text-center">
	  Thank you for your purchase!
	</p>
	<p class="text-md text-center mt-8">
	  You will be redirected shortly...
	</p>
	<p class="text-md text-center">
	  <%= link_to "Click here", order_path(@order),
				  class: "text-seraphique hover:underline" %>
	  if you are not redirected automatically
	</p>
  </div>
</main>
