<main class="pt-40 pb-12" >
  <div class="container mx-auto flex flex-row gap-x-8 justify-center">
	<%= render "shared/profile_navigation" %>
	<div class="bg-white rounded-lg shadow py-8 px-12 w-full max-w-[600px]">
	  <%= render "addresses/form", address: @address %>
	</div>
  </div>
</main>
