<main class="bg-[#F5F5F5] grow">
	<div class="container mx-auto text-[#4A4A4A]">
		<div class="flex flex-row flex-nowrap">
			<div class="w-2/5"></div>
			<div class="w-3/5">
				<h2 class="text-5xl mt-64 mb-8">About Us</h2>
				<p class="text-2xl">
					We are a luxurious skincare company committed to redefining
					beauty by offering a diverse range of premium products
					tailored for all skin types. Our mission is to empower
					every woman to embrace her natural radiance with confidence,
					knowing that our meticulously crafted formulas deliver
					exceptional results.
				</p>
			</div>
		</div>
	</div>
	<div class="w-full bg-seraphique mt-8 pt-8">
		<div class="container mx-auto">
			<div class="flex flex-row flex-nowrap">
				<div class="w-2/5 relative">
					<%= image_tag "about_girl.png",
								  class: "max-h-[640px] absolute bottom-0" %>
				</div>
				<div class="w-3/5">
					<p class="text-2xl text-white">
						At the heart of our brand lies a passion for elegance,
						quality, and the belief that every woman deserves the
						very best in skincare.
					</p>

					<button class="bg-[#F5F5F5] rounded-md text-2xl text-[#4A4A4A] py-2 px-4 mt-12 mb-28">
						Learn More
					</button>
				</div>
			</div>
		</div>
	</div>
</main>
