@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Poppins";
		src: url("Poppins-Regular.ttf"),
			 url("Poppins-BlackItalic.ttf"),
			 url("Poppins-Black.ttf"),
			 url("Poppins-BoldItalic.ttf"),
			 url("Poppins-Bold.ttf"),
			 url("Poppins-ExtraBoldItalic.ttf"),
			 url("Poppins-ExtraBold.ttf"),
			 url("Poppins-ExtraLightItalic.ttf"),
			 url("Poppins-ExtraLight.ttf"),
			 url("Poppins-Italic.ttf"),
			 url("Poppins-LightItalic.ttf"),
			 url("Poppins-Light.ttf"),
			 url("Poppins-MediumItalic.ttf"),
			 url("Poppins-Medium.ttf"),
			 url("Poppins-SemiBoldItalic.ttf"),
			 url("Poppins-SemiBold.ttf"),
			 url("Poppins-ThinItalic.ttf"),
			 url("Poppins-Thin.ttf");
		font-display: swap;
	}
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
