<main class="bg-[#F5F5F5] pt-40">
  <div class="container mx-auto">
	<%= render partial: "shared/banner" %>

    <% if notice.present? %>
	  <p class="py-2 px-3 bg-green-50 mb-5 text-seraphique
				font-medium rounded-lg inline-block"
		 id="notice">
		<%= notice %>
	  </p>
	<% end %>

	<section>
	  <%= render @product %>
	</section>

	<section>
	  <%= render partial: "more_information", locals: { product: @product } %>
	</section>
  </div>
</main>
